<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Buyer SignUp Form</title>
</head>

<body>

	<div th:insert="navbar"></div>
	
	<div class="container">
		<h3>Buyer SignUp Form</h3>
		<hr>
		
		<form 
			action="#" 
			th:action="@{/buyer/save}" 
			th:object="${theBuyer}" 
			method="POST">
			
			<input 
				type="text" 
				th:field="*{buyerName}" 
				class="form-control mb-4 col-4" 
				placeholder="Buyer Name" />
				
			<input 
				type="text" 
				th:field="*{buyerEmail}" 
				class="form-control mb-4 col-4" 
				placeholder="Buyer Email" />
				
			<input 
				type="password" 
				th:field="*{buyerPassword}" 
				class="form-control mb-4 col-4" 
				placeholder="Buyer Password" />
				
			<input 
				type="text" 
				th:field="*{buyerPhone}" 
				class="form-control mb-4 col-4" 
				placeholder="Buyer Phone no." />
				
			<button type="submit" class="btn btn-info col-2">SignUp</button>
			
		</form>
		
		<hr>
		
	</div>
</body>

</html>