<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Stock</title>
</head>

<body>

	<div th:insert="navbar"></div>

	<div class="container">
		<h3>Product Stock Form</h3>
		<hr>
		
		<p class="h4 mb-4">Save Stock</p>
		
		<form 
			action="#" 
			th:action="@{'/stock/save/'+ ${theProduct.productId}}" 
			th:object="${theStock}" 
			method="POST">
				
			<input 
				type="number" 
				th:field="*{stockQuantity}" 
				class="form-control mb-4 col-4" 
				placeholder="Quantity of Product in Stock" />
			
			<input 
				type="text" 
				th:field="*{uom}" 
				class="form-control mb-4 col-4" 
				placeholder="Unit of Measurement" />
				
			<button type="submit" class="btn btn-info col-2">Save Product Stock</button>
			
		</form>
		
		<hr>
		<input type="button" onclick="history.go(-1)"
			class="btn btn-primary btn-sm mb-3" value="Back to Product Form" />
	</div>
</body>

</html>